<div class="footer">
    <p>秦含章（北京）酒文化发展有限公司</p>
    <php>
        $links=sp_getlinks();
        $top = array_slice($links, 0, 6);
        $bottom = array_slice($links, 6, 10);
    </php>
    <center>
    <foreach name="top" item="vo">
        <span style="line-height:30px;"><a href="{$vo.link_url}" target="{$vo.link_target}">{$vo.link_name}</a></span>
    </foreach>
         
        <!-- <span><a href="#">山西杏花村汾酒集团有限公司</a></span>
        <span><a href="#">四川宜宾五粮液集团有限公司</a></span>
        <span><a href="#">四川泸州老窖集团有限责任公司</a></span>
        <span<a href="#">>四川全兴酒业有限公司</a></span>
        <span><a href="#">安徽古井有限责任公司</a></span> -->
    </center>
    <center>
    <foreach name="bottom" item="vo">
        <span style="line-height:30px;"><a href="{$vo.link_url}" target="{$vo.link_target}">{$vo.link_name}</a></span>
    </foreach>
        <!-- <span><a href="#">贵州董酒股份有限公司</a></span>
        <span><a href="#">陕西西凤酒股份有限公司</a></span>
        <span><a href="#">中国长城葡萄酒公司</a></span>
        <span><a href="#">山西老陈醋集团</a></span> -->
    </center>
    <p class="last-p"><!-- Copyright &copy; 2010HBstars.com Incorporated. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;-->京ICP备17003025号</p>
</div>
<script type="text/javascript">
    //导航菜单
    $("#menu-item-5 a").mouseover(function(){
        $(".nav-list").css({display:'block'});
        $(".first-a").css({color:'#fff'});  
    });
    $("#menu-item-5 a").mouseout(function(){
        $(".nav-list").css({display:'none'});
        $(".first-a").css({color:'#d4ab73'});  
    });
    $(".nav-list").mouseover(function(){
        $(".nav-list").css({display:'block'});  
    });
    $(".nav-list").mouseout(function(){
        $(".nav-list").css({display:'none'}); 
    });
    $(".first-a").mouseover(function(){
        $(".first-a").css({color:'#fff'});  
    });
     $(".first-a").mouseout(function(){
        $(".first-a").css({color:'#d4ab73'});  
    });
    //左侧栏风琴
    $(".we-show-1").mouseover(function(){
        $(".we-show-1").css({border:"0px solid #fff"});
    });
    $(".we-show-2").mouseover(function(){
        $(".we-show-1").css({border:"0px solid #fff"});
    });
    $(".myline").mouseover(function(){
        $(".we-show-1").css('border-bottom',"1px solid #827b79");
    });
    var ary = location.href.split("&");
    jQuery(".sideMenu").slide({ titCell:"h3", targetCell:"ul", effect:ary[1], delayTime:ary[2] , trigger:ary[4], triggerTime:ary[4], defaultPlay:ary[5], returnDefault:ary[6],easing:ary[7] });
</script>