<div class="header">
    <div class="phone">全国客服电话：400-999-7109</div>
    <!-- <ul>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">事业机会</a></li>
        <li><a href="#">产品商城</a></li>
        <li><a href="#">新闻动态</a></li>
        <li><a href="#" id="xxoo">走进我们</a></li>
        <li><a href="#">首页</a></li>
    </ul> -->
    <?php
      $effected_id="main-menu";
      $filetpl="<a href='\$href' target='\$target'>\$label</a>";
      $foldertpl="<a href='\$href' target='\$target' class='dropdown-toggle' data-toggle='dropdown'>\$label <b class='caret'></b></a>";
      $ul_class="dropdown-menu" ;
      $li_class="" ;
      $style="nav";
      $showlevel=6;
      $dropdown='dropdown';
      echo sp_get_menu("main",$effected_id,$filetpl,$foldertpl,$ul_class,$li_class,$style,$showlevel,$dropdown);
    ?>
    <div class="nav-list">
      <a href="{:leuu('page/index',array(id=>8))}" class="first-a">公司介绍</a>
      <a href="{:leuu('page/index',array(id=>9))}">秦含章专栏</a>
      <a href="#">发展历程</a>
      <a href="{:leuu('page/index',array(id=>10))}">企业文化</a>
      <a href="{:leuu('page/index',array(id=>11))}">核心团队</a>
    </div>
     <div class="clear"></div>
</div>