html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; font-family:"Microsoft YaHei";z-index: 1;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em{font-weight:normal;}
del,ins,u,s,a{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:13px/1.5 microsoft yahei,\5b8b\4f53;color:#4c4c4c;outline:0;}
body{min-width: 1100px;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:before,.clearfix:after{content:"."; display:block; visibility:hidden; height:0; line-height:0; font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
body,html{background: #ffffff;}
a{color: #333;}
a:hover{color: #975738;}
/*index开始*/
.header{width:1200px;margin: 0 auto; background:url('../images/logo.png') 15px 15px  no-repeat; position:relative;}
.phone{width:700px; height:40px; float:right;font-size:16px;line-height:50px;padding-right:15px;box-sizing:border-box;20px;text-align:right;}
.header ul{width:100%; height:40px; float:right;}
.header ul li a{float:right;margin:0px 15px;font-size:16px;line-height:25px;}
.nav-list{ height:32px; width:443px;position:absolute; top:62px; left:720px; background:url('../images/nav-list.png') no-repeat; border-radius: 10px;text-align:center; padding-top:8px;letter-spacing:1px;font-size:15px;box-sizing:border-box;display:none;}
.nav-list a{padding:0 5px; color:#d4ab73;}
.nav-list a:hover{padding:0 5px; color:#fff;}
.slide{margin:0 auto; width:1200px;}

.main{width:1200px;margin:0 auto;}
.column{float:left;margin-bottom:50px;}
.column-nav{width:335px;height:65px;line-height:65px;font-size:18px;}
.column-nav>span:last-child{font-size:13px;}
.column-nav>span:nth-child(2){color:#c8c5c4;}
.line{border-top:1px solid #c8c5c4;width:245px;}
.column-content{width:335px;margin-top:20px;}
.column-content a img{float:left;}
.column-content a ul{float:right;width:220px;}
.column-content a ul li{font-size:12px;line-height:16px;}
.column-content p{float:left;margin-top:20px;line-height:20px}
.news{float:left;width:300px;}
.news-nav{width:300px;height:65px;line-height:65px;font-size:18px;padding-left:30px;box-szing:border-box;}
.news-nav>span:last-child{font-size:13px;}
.news-nav>span:nth-child(2){color:#c8c5c4;}
.line{border:1px solid #c8c5c4;width:245px;}
.news ul{margin-top:20px;}
.news ul li{margin-left:10px;line-height:25px;}
.witness{float:left;width:320px;}
.witness-nav{width:300px;height:65px;line-height:65px;font-size:18px;padding-left:20px;box-szing:border-box;}
.witness-nav>span:last-child{font-size:13px;}
.witness-nav>span:nth-child(2){color:#c8c5c4;}
.witness ul{margin-top:20px;padding-left:20px;}
.video{float:left;width:220px;}
.video-nav{width:300px;height:65px;line-height:65px;font-size:18px;}
.video-nav>span:last-child{font-size:13px;}
.video-nav>span:nth-child(2){color:#c8c5c4;}
.video>img{margin-top:20px;}

.footer{width:100%;height:168px;margin:0 auto;background:#bfc0c0;}
.footer p:first-child{text-align:center;font-size:17px;font-weight:bold;padding:18px;}
.footer center span{padding:0px 10px;letter-spacing:1px;line-height:23px;}
.last-p{text-align:center;font-size:12px;margin-top:13px;}
/*indexj结束*/
/*news开始*/
.sideMenu{width:315px;margin-top:25px;float:left;}
.sideMenu a h3{border-bottom:1px solid #827b79;width:160px;height:45px; line-height:45px;font-size:16px;background:url("../images/covn.png") 130px 18px no-repeat;}
.sideMenu a h3:hover{border-bottom:1px solid #827b79;width:160px;height:45px; line-height:45px;font-size:16px;background:url("../images/covn-hover.png") 130px 18px no-repeat;}
.sideMenu ul {text-indent:30px;border-bottom:1px solid #827b79;width:160px;}

.news-right{width:882px;margin-top:40px;float:right;padding-bottom:50px;box-sizing:border-box;}
.news-right h2{height:53px; line-height:53px;font-size: 25px;letter-spacing:1px;color:#975738;background:url("../images/line-top.png") 0 0 no-repeat;padding-top:3px;box-sizing:border-box;}
.line-bottom{height:5px;padding:0px;margin:0px;background:url("../images/line-bottom.png") 0 0 no-repeat;}
.news-right h2 span{font-size:14px;padding-left:20px;color:#000;}
.news-right-content{margin-left:10px;margin-top:40px;}
.news-right-content img{float:left;} 
.news-right-content>a{float:left;margin-left:15px;font-size: 16px;color:#975738;} 	
.news-right-content p{width:655px;float:left;text-indent:2em;margin-left:15px;margin-top:20px;}  	
.news-right-content p a{color:#975738;}
/*news结束*/
/*news-content开始*/
.news-right-main{margin:40px 80px 50px 50px;width:690px;}
.news-right-main h3{font-size:16px;color:#975738;margin-top:30px;}
.news-right-main p{text-indent: 2em;margin-top:20px;letter-spacing:1px;line-height:25px;}
/*news-content结束*/
/*联系我们开始*/
.news-right-main ul{margin-top:50px;}
.news-right-main ul li{height:22px;line-height:22px;}
/*联系我们结束*/
/*事业机会开始*/
.recruit{margin-top:100px;}
.recruit h3{font-size: 22px;color:#6e6b6a;}
.recruit p{text-indent:2em;letter-spacing:1px;line-height:25px;}
/*事业机会结束*/ 
/*公司介绍开始*/
.we-list{border-bottom:1px solid #827b79;padding-left:30px;width:160px;box-sizing:border-box;}
.we-list span{font-size:13px;display:block;}
.we-list span:last-child{margin-bottom:10px;}
#we-list-li{border-bottom:0px;}
.product-right-content{width:796px;padding:25px 0 10px 0;}
.product-right-content p{text-indent:2em;letter-spacing:1px;line-height:25px;font-size:12px;}
.product-main{width:1200px;margin:0 auto;background:url("../images/product.png") 0px 1070px no-repeat;}
.product-right-content-2{height:775px;background:url("../images/structure.png") 0px 50px no-repeat;}
/*公司介绍结束*/
/*秦含章专栏开始*/
.qhz-right-content{padding:40px 0px 50px 0px;}
.qhz-right-content p{width:800px;float:left;text-indent:2em;margin-top:20px;} 
.qhz-right-content div img{float:left} 
.qhz-right-content div ul{width:690px;float:left;padding-left:35px;box-sizing:border-box;} 
.qhz-right-content div>ul:first-of-type{width:690px;float:left;margin-top:25px;} 
.qhz-right-content div ul li{width:240px;float:left;height:31px;line-height:31px;} 
.qhz-main{width:1200px;margin:0 auto;background:url("../images/product.png") 0px 2020px no-repeat;padding-bottom:60px;box-sizing:border-box;}
.qhz-right-content-2{padding:15px 0 0 15px;width:90%;}
.qhz-right-content-2 div img{float:left;margin:25px 40px 0 0;}
/*秦含章专栏结束*/
/*核心团队结束*/
.term-right{width:882px;margin-top:40px;float:right;}
.term-right h2{height:53px; line-height:53px;font-size: 25px;letter-spacing:1px;color:#975738;background:url("../images/line-top.png") 0 0 no-repeat;padding-top:3px;box-sizing:border-box;}
.term-right h2 span{font-size:14px;padding-left:20px;color:#000;}
.term-right-content{padding-top:30px;box-sizing:border-box;}
.qhz-right-content-photo{width:265px;float:left;margin-left:130px;margin-top:20px;}
.qhz-right-content-photo img{margin-left:30px;margin-bottom:20px;}
.qhz-right-content-photo div{float:left;text-align:center;width:100%;}
.qhz-right-content-photo div:first-of-type span{color:#975738;font-size:18px;margin-right:15px;}
.qhz-right-content-photo div span{padding-left:15px;}
/*核心团队结束*/
/*公司文化开始*/
.culture-right-content{width:100%;padding-top:100px;margin-bottom:350px;}
.culture-right-content ul li{font-size:24px;height:70px;line-height:70px;}
#culture{background:url("../images/culture.png") 0px 505px no-repeat;}
/*公司文化结束*/
.sideMenu .over-color h3{color:#975738; border-bottom:1px solid #827b79;width:160px;height:45px; line-height:45px;font-size:16px;background:url("../images/covn-hover.png") 130px 18px no-repeat;}	
